

<h1>twitterClone</h1>
<p>
    This is the home page for the RoR tutorial sample application.
</p>

<p>
    <h3>Index of pages:</h3>
    <%= link_to "About", static_pages_about_url  %><br/>
    <%= link_to "Contact", static_pages_contact_url  %><br/>
    <%= link_to "Help", static_pages_help_url  %><br/>
</p>