<div class="jumbotron">
  <h1 class="display-3">TwitterClone</h1>
  <p class="lead">This is the home page for TwitterClone.</p>
  <hr class="my-2"><br/>
  <p>Built with Rails 5 by Dacks aka @syndacks.</p>
  <p class="lead">
   <%= link_to 'Sign up now!', signup_path, class: "btn btn-lg btn-primary" %>  
  </p>
</div>

<img id='rails_logo'><%= link_to image_tag("rails") %></img>