    <nav id = "navbar_top" class="navbar navbar-light bg-faded"> <!-- begin header -->
      
      <a class="navbar-brand">twitterClone <span class="glyphicon glyphicon-globe"></span>  </a>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item active">
          <%= link_to "Home", root_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path  %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", "#"  %>
        </li>
      </ul>
      
    
    </nav> 